/*****************************************************Tag Selector****************************************************/
body{
  font-family: 'Montserrat, sans-serif';
}

h1 {
  font-family: 'Montserrat-Black, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2{
  font-family: 'Montserrat-Black, sans-serif';
  /* color:white; */
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

em{
  font-family: 'Montserrat-Black, sans-serif';
  color:white;
  font-size: 1.5rem;
}

/*****************************************************id Selector****************************************************/

#title{
  background-color: #ff4c68;
  color:white;
}

#testimonials{

  background-color: #ef8172;
  text-align: center;
}

#press{
  padding:1% 15%;
  background-color: #ef8172;
  text-align: center;
}

#pricing{
  padding:100px;
  text-align: center;
}

#features{
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#footer{
  background-color: #ffff;
  text-align: center;
  padding: 3% 5%;
}


/*****************************************************class Selector****************************************************/

.cta-btn{
  margin: 0 2%;
}

.container-fluid{
  padding: 3% 15% 5% 15%;
}

.carousel-item{
  padding:3% 15%;
}

.cta-text{
  font-family: 'Montserrat-Black, sans-serif';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color:white;
  padding-bottom: 5%;
}

/* .h1-title{
  padding-top: 15px;
  padding-bottom: 15px;
} */

.download-button{
  margin: 5% 3% 5% 0;
}

.features-text{
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.footer-text{
  color:#8f8f8f;
  text-align: center;
  margin-top: 1%;
}

.features-text-p{
  color:#8f8f8f;
  text-align: center;
}

.feature-icon{
  color: #ef8172;
}

.feature-icon:hover{
  color:#ff4c68;
}

.footer-link{
  margin:1% 1%;
  text-decoration: none;
  color:Black;
}

.iphone6-img{
  transform: rotate(40deg);
  width:40%;
  position:absolute;
  left:35%;
  /* position:relative; */
  /* height:auto; */
}

.title-image-container {
  position: relative;
}


.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

.press-img{
  width:15%;
  margin: 5% 2%;
}

.pricing-col{
  padding:3% 3%;
}

.pricing-btn{
  margin-bottom:5%;
}

.pricing-h2-p{
    color:#8f8f8f;
}

.testimonials-img{
  width:15%;
  padding: 3% 3%;
  border-radius: 100%;
}

.testimonials-text{
  font-family: 'Montserrat-Black, sans-serif';
  color:white;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Medium query breakpoints to make it responsive on phone */
@media (max-width:1025px) {
  #title{
    text-align: center;
  }

  .iphone6-img{
    transform: rotate(0deg);
    position:static;
  }
}
